.subpage2 .searchbar .search h1
{
    font-size:50px;
}
.subpage2  hr
{
    color: rgba(0, 0, 0, 0.167);
    width: 900px;
    margin-right:70px;
}
.collectionform
{
    margin-left:20px;
    margin-top:50px;
}
.collectionform  h4
{
    margin-top:3px;
}
.collectionform input
{
    width:50vw;
    height:6vh;
    border-radius:5px;
    border:1px solid rgba(0, 0, 0, 0.283);
    text-indent:10px;
}
.collectionform .bar2 select
{
    width:50vw;
    height:6vh;
    border-radius:5px;
    border:1px solid rgba(0, 0, 0, 0.283);
    text-indent:5px;
    background-color:#d5d5d52f;
}
.collectionform button
{
    width:160px;
    height: 38px;
    margin-left:10px;
    color:white;
    background-color: rgba(52, 191, 182, 0.774);
    border:none;
    border-radius: 5px;
    font-weight: bolder;
    margin-top:30px;
    font-size: 16px;
}